PORT=5000
EMAIL='2003701@students.kcau.ac.ke'
PASSWORD='gsprfkknzjmawcaj'
JWT_SECRET='TaskManager_0!123456789'
SHORT_CODE=174379
MPESA_EXPRESS_PASSKEY='bfb279f9aa9bdbcf158e97dd71a467cd2e0c893059b10f78e6b72ada1ed2c91'
STK_PUSH_QUERY='https://sandbox.safaricom.co.ke/mpesa/stkpushquery/v1/query'
STK_LINK='https://sandbox.safaricom.co.ke/mpesa/stkpush/v1/processrequest'
CONSUMER_KEY='ddGEjCdzSojGv1T3ynf5AOFSLIFz3CeWtEGcwEYzlaa0EVGR'
CONSUMER_SECRET='YDDcBul4CzaJKx6ZvsYcz5n80HAGbGDC4aX2L8MFiAFlw8zF6tMsiiXSmsPRZg6y'
AUTH_LINK='https://sandbox.safaricom.co.ke/oauth/v1/generate?grant_type=client_credentials'
APP_DOMAIN= 'https://apbcafrica.com'
